<ion-header>
  <ion-navbar color="positive">
    <ion-title>
      ShizzleList
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="createShizzle()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button icon-only (click)="goToOtherPage()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let shizzle of shizzle$ | async" (click)="showOptions(shizzle)">
      {{ shizzle.title }}
      <!-- {{ shizzle.id }} -->
    </ion-item>
  </ion-list>
</ion-content>